.body{
  background-color: gainsboro;

}


.content {
display: flex;
align-content: center;
justify-content: center;


}
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 20px; 
    grid-row-gap: 20px;
  
    width: 80%;
    
    

}


.grid-item {
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: lightblue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  
    
    
  }
  

  .grid-item:nth-child(1) {
    background-color: #87741b;


    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

  }
  
  .grid-item:nth-child(2) {
    background-color: #fad759;

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .grid-item:nth-child(3) {
    background-color: #fad759;

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;


  }
  
  .grid-item:nth-child(4) {
    background-color: #22577e;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .grid-item:nth-child(5) {
    background-color: #fad759;

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .grid-item:nth-child(6) {
    background-color: #7c007e;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  
  .grid-item:nth-child(7) {
    background-color: #fad759;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  
  .grid-item:nth-child(8) {
    background-color: #fad759;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;

  }
  
  .grid-item:nth-child(9) {
    background-color: #7caeb7;

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
  }